Brewfile.lock.json
.DS_Store
Thumbs.db
vscode/**/workspaceStorage/
vscode/**/syncLocalSettings.json
vscode/**/globalStorage/
vscode/**/History/
cursor/**/workspaceStorage/
cursor/**/syncLocalSettings.json
cursor/**/globalStorage/
cursor/**/History/
lazygit/state.yml
.tlrc/
private/
tilde/.ssh/*

# Claude
tilde/.claude.json
tilde/.claude/*
!tilde/.claude/commands
!tilde/.claude/agents
!tilde/.claude/hooks/
!tilde/.claude/CLAUDE.md
!tilde/.claude/settings.json

# Cursor
tilde/.cursor/mcp.json
tilde/.cursor/chats/
tilde/.cursor/extensions/
tilde/.cursor/prompt_history.json
tilde/.cursor/unified_repo_list.json
