Brewfile.lock.json
.DS_Store
Thumbs.db
vscode/**/workspaceStorage/
vscode/**/syncLocalSettings.json
vscode/**/globalStorage/
vscode/**/History/
lazygit/state.yml
.tlrc/
private/
tilde/.ssh/*
!tilde/.ssh/config
tilde/.config/amp/settings.json.amp-write-meta

# Obsidian
obsidian/**/workspace.json
obsidian/**/workspace-mobile.json
