# See more: https://git-scm.com/docs/git-config

# general config

[user]
  name = Nick Plekhanov
  email = nicksp@users.noreply.github.com
  signingKey = 77258BB2E99B579D

[github]
  user = nicksp

[init]
  defaultBranch = main

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[rerere]
  # Remember how you resolved a merge conflict and automatically reapply if it sees it again
  enabled = true

[transfer]
  # Avoid data corruption
  fsckobjects = true

[core]
  editor = cot --wait
  pager = delta
  autocrlf = input
  safecrlf = false
  excludesFile = ~/.gitignore
  quotePath = false
  # Make `git rebase` safer on macOS
  # More info: https://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
  trustctime = false

[help]
  # Correct typos
  autoCorrect = 1

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default since Git 1.8.4)
  ui = true

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff"]
  meta = blue
  frag = white
  old = red bold
  new = green bold

[column]
  # Put any list output into columns
  ui = auto

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:nicksp/"]
  insteadOf = "git://github.com/nicksp/"

# When accidentally cloning the HTTPS version of a repository instead of the SSH version
[url "git@github.com:nicksp/"]
  insteadOf = "https://github.com/nicksp/"

[protocol "file"]
  # Always permit operations using file protocol without any restrictions or warnings
  allow = always

# command-specific

[commit]
  # Include the diff of the changes at the bottom of the commit message template
  verbose = true
  # Custom template for new commit messages
  template = ~/.gitmessage
  # Sign all commits by default
  gpgSign = true

[tag]
  # Sign all tags by default
  gpgSign = true

[log]
  # Show branch names with git log
  decorate = short
  # Display dates as '2023-05-25 13:54:51' instead of 'Thu May 25 13:54:51 2023'
  date = iso

[branch]
  # Show most recently changed branches first
  sort = -committerdate

[fetch]
  # Automatically prune deleted branches and tags from your local copy
  # when you fetch (or pull)
  prune = true
  pruneTags = true
  # Cache the index of all the commit objects to speed up some Git commands
  writeCommitGraph = true

[pull]
  # Rebase branches on top of the fetched branch, instead of merging
  # the default branch from the default remote
  rebase = true

[push]
  # When pushing code, always push only your current branch to a branch
  # of the same name on the receiving end
  # http://stackoverflow.com/a/23918418/89484
  default = current
  # Automatically set up upstream tracking
  # when no upstream tracking exists for the current branch
  autoSetupRemote = true
  # Make `git push` automatically push relevant annotated tags when pushing branches out
  followTags = true
  # Make `push --force-with-lease` even safer by ensuring the tip of the remote
  # was actually pulled into your local branch at some point
  useForceIfIncludes = true

[rebase]
  # Automatically include the `--autosquash` option when doing a `git rebase --interactive`
  # See more: https://thoughtbot.com/blog/autosquashing-git-commits
  autoSquash = true
  # Auto-update dependent branches during rebase
  updateRefs = true

# aliases

[alias]
  #
  # Shortcuts
  #

  # Open .gitconfig in default editor
  conf         = config --global -e

  # Add (stage) files
  a            = add
  aa           = add -A

  # Commit
  c            = commit
  # ... by adding all unstaged changes
  ca           = commit -a
  cm           = commit -m
  empty        = commit --allow-empty -m
  # Add new staged files to the latest commit by preserving its commit message
  amend        = commit --amend --no-edit
  # Add all modified files to the latest commit
  append       = commit -a --amend --no-edit

  # Branching
  br           = branch
  # Better branch output
  brb          = !git for-each-ref --color --sort=-committerdate --format=$'%(color:red)%(ahead-behind:HEAD)\t%(color:blue)%(refname:short)\t%(color:yellow)%(committerdate:relative)\t%(color:default)%(describe)' refs/heads/ --no-merged | sed 's/ /\t/' | column -s=$'\t' -t -c 'Ahead,Behind,Branch Name,Last Commit,Description'
  bra          = branch -a
  # Change current branch
  cb           = switch
  # Create and switch to a new branch
  nb           = switch -c
  # Jump back to to your last branch
  prev         = switch -

  # Status
  s            = status
  ss           = status -sb

  # Put all uncommitted changes in tracked files in a temporary storage
  st           = stash
  # Stash all ignored and untracked files and then clean up with `git clean`
  sta          = stash --all
  # Retrieve the last stored changes again
  stp          = stash pop

  # Unstaged changes (working directory vs. staging area)
  d            = diff
  # Staged changes (staging area vs. last commit)
  dc           = diff --cached
  cp           = cherry-pick
  fp           = fetch --prune --all

  # Push
  pu           = push
  puf          = push --force-with-lease
  put          = push --tags

  # Pull in remote changes for the current repository and all its submodules
  p            = pull --recurse-submodules

  # Worktree
  wta          = worktree add
  wtl          = worktree list
  wtr          = worktree remove

  # Rebase: skip a rebase step
  skip         = rebase --skip
  # Rebase: abort
  abort        = rebase --abort
  # Rebase: add changes and continue
  cont         = !git add . && git rebase --continue

  # Compact and readable log
  l            = log --graph --pretty=tformat:'%C(magenta)%h%Creset%C(auto)%d%Creset %s %C(blue bold)— %cr, %an%Creset' -30
  la           = log --graph --pretty=tformat:'%C(magenta)%h%Creset%C(auto)%d%Creset %s %C(blue bold)— %cr, %an%Creset'
  # Log with list of changed files per each commit
  ls           = log --stat --abbrev-commit

  #
  # First-aid
  #

  # Undo a `git push`
  undopush     = push -f origin HEAD^:master
  # Unstage all staged changes but leave them in the working tree (mixed reset)
  unstage      = restore --staged .
  # Discard all unstaged changes in the working tree and revert them to their state in the HEAD commit
  discard      = restore .
  # Undo last commit but don't throw away the changes (affects HEAD only)
  undo         = reset --soft HEAD~1
  # Remove last commit (from HEAD, Index and Working tree)
  reset        = reset --hard HEAD~1

  #
  # Helpers
  #

  # Show the user email for the current repository
  whoami       = config user.email

  # List available aliases
  aliases      = config --get-regexp 'alias.*'

  # Display the current branch name
  branchname   = rev-parse --abbrev-ref HEAD

  # Copy the current branch name to the clipboard
  cpbranchname = !git branchname | tr -d '\n' | tr -d ' ' | pbcopy

  # Display the date of the last commit of the active Git branch
  lastcommit   = !git log --pretty=format:'%ar' | head -n 1

  # List contributors with a number of their commits
  contribs     = shortlog -sn

  # List of my own commits across all branches
  my           = !git log --all --no-merges --pretty=format:'%C(reset)%C(bold)%cd %C(reset)%C(white)%s  %C(reset)%h' --date=short --author=\"$(git config user.name)\"

  # How many lines of code I have written today
  today        = diff --shortstat \"@{0 day ago}\"

  # count number of lines of code in the files of a git project
  stats        = "!git ls-files | xargs wc -l"

  # List of branches ordered by last change
  branches     = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:bold)%(refname:short)%(color:reset)\t%(committerdate:relative)'

  # List of files with merge conflicts
  wtf          = diff --name-only --diff-filter=U

  # Cancel local commits in the branch: git fuck master
  fuck         = "!f() { git reset --hard origin/$1; }; f"

  # Delete all untracked files and folders
  cfd          = clean -fd

  # Delete all changes, including untracked files and folders
  nuke         = !git reset --hard && git clean -fd

  # Sharable diff with disabled syntax highlighting and +/- marks
  patch        = !git --no-pager diff --no-color

  # Merge fresh master into the current branch
  mmmr         = !git fetch origin master && git merge origin/master --no-edit
  # Merge fresh main into the current branch
  mmmn         = !git fetch origin main && git merge origin/main --no-edit

  # Push up the branch and set upstream for the current branch
  publish      = "!git push --set-upstream origin $(git branch-name)"
  sha          = log -n 1 --pretty=format:'%H'

# git-delta

[interactive]
  # Syntax highlight code when you run `git add -p`
  # to interactively stage hunks (portions) of changes from modified files
  diffFilter = delta --color-only

[add.interactive]
  useBuiltin = false

[delta]
  navigate = true # Use n and N to move between diff sections
  side-by-side = true # Enables the side-by-side view
  light = true
  true-color = always
  grep-line-number-style = normal dim
  grep-file-style = blue bold
  tabs = 2
  grep-match-line-style = normal "#453327" # gray04
  grep-match-word-style = black yellow
  grep-separator-symbol = " "
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[merge]
  # See more: https://www.ductile.systems/zdiff3/
  conflictStyle = zdiff3

[diff]
  # Clearer diff output
  # See more (1): https://luppeng.wordpress.com/2020/10/10/when-to-use-each-of-the-git-diff-algorithms/
  # See more (2): https://link.springer.com/article/10.1007/s10664-019-09772-z
  algorithm = histogram
  # Use different colors to highlight lines in diffs that have been “moved”
  colorMoved = default
  # Ignore indentation changes
  colorMovedWS = allow-indentation-change

# include local/private config if relevant

[include]
  path = ~/.gitconfig.local
