packages: [
  "atom-beautify"
  "atom-keyboard-macros"
  "atom-shortcuts"
  "busy-signal"
  "editorconfig"
  "ember-cli-helper"
  "ember-snippets"
  "expose"
  "file-icons"
  "git-plus"
  "goto-definition"
  "hey-pane"
  "htmlbars-beautify"
  "intentions"
  "jumpy"
  "language-babel"
  "language-ember-htmlbars"
  "language-fish-shell"
  "linter"
  "linter-eslint"
  "linter-rubocop"
  "linter-ruby"
  "linter-sass-lint"
  "linter-ui-default"
  "merge-conflicts"
  "package-sync"
  "project-manager"
  "shortcuts-teacher"
  "sorter"
  "vim-mode-plus"
  "zentabs"
]
